.siblings_page{
	/*padding-left: 30px;*/
	margin-bottom: 100px;
}
.siblings_page p:not(:first-child) {
	/*margin-top: 10px;*/

}
.siblings_page p {
	font-size: 20px;
	color: #656565;
	line-height: 48px;
	text-indent:40px;
}
.cgry div.box{
	width: 270px;
	margin-bottom:20px;
	margin-right: 16px;
	/*border:1px solid red;*/
}
.cgry div.box img{
	width: 100%;
	height: auto;
}

.zgfc_img{
	width: 640px;
	margin:0 auto;
}
.zgfc p{
	padding:20px 0;
	line-height: 30px;
	font-size: 16px;
	color: #686868;
}
.zgfc_page{
	max-height: 800px;
	overflow-y: scroll;
	margin-bottom: 40px;
}
.zgfc_page p{
	font-size: 20px;
	color: #656565;
	line-height: 48px;
	text-indent:40px;
	margin: 20px 0;
}
.qywh{
	padding-left: 100px;

}
.qywh div>span{
	font-size: 20px;
	color: #656565;
	line-height: 46px;
	text-indent:40px;
	margin: 20px 0;
}
.qywh div>span.cs{
	display: inline-block;
	line-height: 0;
	margin-left: 100px;
}
