.siblings_page{
padding-left: 40px;
}
.siblings_page p{
	font-size: 22px;
	color: #656565;
	line-height: 48px;
	/*margin-top: 10px;*/
}

.hyzx_page p{
	font-size: 20px;
	color: #656565;
	line-height: 48px;
	margin: 10px 0;
	text-indent:40px;

}
.hyzx,.gsdt{
	cursor: pointer;
}
.hyzx_title{
	font-size: 32px;
	color: #656565;
	text-align: center;
	margin: 60px 0 30px 0;

}
.hyzx_time{
	font-size: 18px;
	color: #656565;
	padding: 25px 0;
	/*text-align: center;*/

}
.hyzx:hover p,.gsdt:hover p{
	color: #a81b12;
	/*font-weight: bold;*/
}
.gsdt_page p{
	font-size: 18px;
	color: #656565;
	line-height: 50px;
	margin-top: 20px;
	text-indent:40px;
}

.hyzx_page,.gsdt_page{
	/*max-height: 800px;*/
	/*overflow-y: scroll;*/
	margin-bottom: 100px;
	margin-left: 40px;
}
.page_img{
	position: relative;
	width: 800px;
	margin:0 auto;
	display: table;
}
.page_img div{
	display: table-cell;
	text-align: center;
}